/*====================================================*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import "../fontello/css/fontello.css";

@font-face{
  font-family:Lato;
  src:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/176026/ProximaNova-Regular.otf);
  font-weight:300;
}
  @mixin fontello {
    font-family: "fontello";
    font-size: 1rem;
    margin-right: 40px;
    color: white;
    position: relative;
    top: -6px;
  }

$icon-color: #ad1d1d;
$color-background: #f1eeee;

body,html{
  font-family:Lato;
  color:  black;
  text-align:center;
}
div.container {
  max-width: 1700px;
  width: 1600px;
  padding: 0;
  h2 {
    color: gray;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 75px;
  }
  h3 {
    color: #cecece;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 20px;
  }
  p {
    color: lightgray;
    padding-bottom: 75px;
  }
}

/*=======================main=============================*/
.header .navbar .navbar-brand {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

.header {
  position: relative;
  background: url(../img/header.png) no-repeat;
  width: 1600px;
  height: 930px; 
  background-size: contain;
  z-index: 5;
}
.header .navbar {
  padding: 30px 65px 0 65px;
  .navbar-toggler-icon {
    &:before {
      content:'\e807';
      @include fontello;
      font-size:3rem;
    }
    &:focus {
      outline: none;
    }
  }
}
 

.header .navbar-light .navbar-nav .nav-link { color: white}
.header .nav-link {
  color: white;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 500;
  &:hover {
    background-color: grey;
  }
}

.search {     
  &:before {
    content:'\e801';
      @include fontello;
      margin-right: 10px;
    }
  } 
.fb {     
  &:before {
    content:'\f09a';
    @include fontello;
    margin-right: 10px;
  }
}
.container .btn {
  width: 190px;
  height: 60px;
  text-transform: uppercase;
  border-radius: 50px;
}
.header .btn {
  position: absolute;
  top: 650px;
  left: 470px;
  color: black;
  background-color: white;
}

/*=======================about=============================*/
.about {
  position: relative; 
  max-width: 1600px;
  padding: 90px 180px;
  top: -84px;
  background-color: black;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;    
    left: 0;
    bottom: 0;
    z-index: 1;
    border-right: 612px solid transparent;
    border-bottom: 898px solid white;
    border-left: 566px solid white;
    @media (min-width: 576px) {
      border-right: 575px solid transparent;
      border-bottom: 575px solid white;
      border-left: 575px solid white;
    }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 300px solid white;
    border-left: 300px solid transparent;
    z-index: 1;
  }
  .about-info {
    z-index: 2;
    width: 500px;
  }
  div{
    z-index: 2;
    width: 665px;
  }
}
.about.row {  margin: 0; }

/*=======================company=============================*/
.company {
  margin-top: -84px;
  padding: 90px 180px;
  position: relative;
  background-color: $color-background;
  &:before {
    content: "";
    position: absolute;
    left: -50px;
    bottom: 50%;
    border-right: 100px solid transparent;
    border-bottom: 100px solid $icon-color;
    border-left: 100px solid transparent;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
}
.company li {
  width: 390px;
  list-style: none;
  .icon {
    width: 77px;
    height: 75px;
  }
  .flag-icon { background: url(../img/flag-icon.png) no-repeat; } 
  .pc-icon { background: url(../img/pc-icon.png) no-repeat; } 
  .analize-icon { background: url(../img/analize-icon.png) no-repeat; } 
  .phone-icon { background: url(../img/phone-icon.png) no-repeat; } 
  .map-icon { background: url(../img/map-icon.png) no-repeat; } 
  .contact-icon { background: url(../img/contact-icon.png) no-repeat; } 
  .offer-detail {
    width: 300px;
    padding-left: 15px;
  }
  h3 {
    padding: 15px 0 5px;
  }
}

/*=======================works=============================*/
.works {
  padding: 120px 0 166px 160px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: -108px;
    bottom: -15%;
    border-left: 216px solid transparent;
    border-right: 216px solid transparent;
    border-bottom: 216px solid black;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    z-index: 4;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -288px;
    border-left: 576px solid transparent;
    border-right: 576px solid transparent;
    border-bottom: 576px solid $icon-color;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    z-index: 4;
  }
  p {
    width: 300px;
  }
  .shape-group {
    display: inline-flex;
    position: relative;
    left: 62px;
  }
  .parallelogram {
    width: 312px;
    height: 298px;
    transform: skewX( -25deg );
    background-color: black;
    
    &:first-child {
      background-color: gray;
      margin-right: 60px;
      z-index: 9;
    }
    &:nth-child(2) {
      z-index: 7;
    }
  }
  .trapeze {
    width: 312px;
    height: 0;
    border-left: 139px solid transparent;
    border-bottom: 298px solid black;
    z-index: 5;
  }
  .shape-content {
    color: white;
    font-weight: bold;
    position: relative;
    z-index: 110;
    h3 {  
      position: absolute;
      top: 10px;
      right: 570px;
      color: white;
    }
    h4 {
      position: absolute;
      text-transform: uppercase;
      font-size: 2.5rem;
      bottom: 105px;
      right: 795px;
    }
    p {
      position: absolute;
      bottom: -5px;
      right: 584px;
      color: white;
    }
    &.two {
      h3 { right: 200px; }
      h4 { right: 415px; bottom: 0;}
    }
    &.three {
      h4 { right: 24px; bottom: 0;}
    }
  }
  .works-bg-images img {
    position: absolute;   
    &:first-child {
      height: 488px;
      left: 397px;
      bottom: 0;
      z-index: 10;
    }
    &:nth-child(2) {
      left: 899px;
      bottom: 136px;
      z-index: 8;
    }
    &:nth-child(3) {
      left: 1228px;
      bottom: 159px;
      z-index: 6;
    }
  }
}

/*=======================team=============================*/
.team {
  position: relative;
  padding: 90px 180px;
  height: 790px;
  background-color: $color-background;
  h2 {
    margin: auto;
  }
}
#thumbnail-slider {
  width:100%;
  max-width:900px;
}

/*=======================clients=============================*/
.clients {
  padding: 85px 200px 110px 0;
  position: relative;  
  &:before {
    content: "";
    position: absolute;
    bottom: 20%;
    left: -238px;
    border-left: 476px solid transparent;
    border-right: 476px solid transparent;
    border-bottom: 476px solid $icon-color;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    z-index: 4;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-left: 315px solid transparent;
    border-top: 315px solid black;
  }
  .client-img {
    img { 
      width: 360px;
      height: 360px;
      z-index: 30; 
  }
    &:before {
      content: "";
      position: relative;
      width: 300px;
      height: 300px;
      right: -328px;
      top: 30px;
      background-color: lightgrey;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 20;
    }
  }
  .blockquote {
    p { display: inline; }
    &:before {
      content:'\f10d';
      @include fontello;
      color: gray;
      font-size: 3rem;
    }
  }
  .thumb {
    position: relative;
    top: -80px;
    left: -265px;  
    img { border: 3px solid transparent; } 
    blockquote { display: none; }
  }
}

/*=======================contact=============================*/
.contact {
  padding: 80px 210px 54px;
  position: relative;
  background-color: black;
  color: white;
  overflow: hidden;
  &:after {
    content:"";
    position: relative;
    border-right: 162px solid transparent;
    border-left: 162px solid transparent;
    border-bottom: 162px solid $icon-color;
    bottom: 106px;
    right: -668px;
  }
  .contact-data {
    margin-bottom: 110px;
  }
  li { 
    list-style: none; 
    display: inline-block;
  }
  h2 { text-align: left; }
  h4 { padding-bottom: 10px; }
  h5 { font-weight: normal; }
  ul { margin: 0; }
  .mail {
    &:before {
      content:'\e800';
      @include fontello;
      color: rgba(255, 255, 255, 0.3);
      font-size: 3.5rem;

    }
  }
  .phone {
    &:before {
      content:'\e802';
      @include fontello;
      color: rgba(255, 255, 255, 0.3);
      font-size: 3.5rem;
    }
  }
  .map {
    &:before {
      content:'\e804';
      @include fontello;
      color: rgba(255, 255, 255, 0.3);
      font-size: 3.5rem;
    }
  }
  .fb {     
    &:before {
      content:'\f09a';
      @include fontello;
    }
  }
  .google-plus {     
    &:before {
      content:'\f0d5';
      @include fontello;
    }
  }
  .vk {     
    &:before {
      content:'\e805';
      @include fontello;
    }
  }
  .yt {     
    &:before {
      content:'\f167';
      @include fontello;
    }
  }
  .in {     
    &:before {
      content:'\f0e1';
      @include fontello;
    }
  }
  .digg {     
    &:before {
      content:'\f1a6';
      @include fontello;
    }
  }
  .pr {     
    &:before {
      content:'\f10d';
      @include fontello;
    }
  }
  .social-media {
    margin: 0;
    padding: 0 0 35px;
  }
  .copyright {
    &:before {
      content: "";
      position: absolute;
      width: 750px;
      height: 1px;
      top: 472px;
      left: 441px;
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}
