
.icon-mail:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-mobile:before { content: '\e802'; } /* '' */
.icon-mobile-1:before { content: '\e803'; } /* '' */
.icon-map:before { content: '\e804'; } /* '' */
.icon-vkontakte:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e807'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-digg:before { content: '\f1a6'; } /* '' */